.page-title {
  margin-bottom: 16px;
  h2 {
    margin: 0px;
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: bold;
    color: #333;
  }
  p {
    margin: 0px;
    font-size: 18px;
    font-weight: normal;
    color: #666;
  }
}
